.App {
  padding: 0;
  margin: 0;
}

.background {
  background-image: url("https://t3.ftcdn.net/jpg/04/87/48/66/360_F_487486623_CatNgUbulZ6rOpENckeTzRfY7IzrqOKd.jpg");
  background-size: cover;
  height: 100vh;
  padding-left: 150px;
  padding-top: 150px;
}

.para {
  color: aliceblue;
  font-size: 30px;
  width: 50%;
}
